<ion-content [fullscreen]="true">
  <div id="tela">
    <h3>{{resul}}</h3>
    <h1>{{tudo}}</h1>
    <h1>{{oi}}</h1>
  </div>


    <ion-menu contentId="main-content">
        <ion-toolbar id="navhist">
          <ion-title>Histórico</ion-title>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-select 
            aria-label="Fruit"
            placeholder="Select fruit"
            (ionChange)="handleChange($event)">
              <ion-select-option value=1>Apples</ion-select-option>
              <ion-select-option value=2>Oranges</ion-select-option>
              <ion-select-option value=3>Bananas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
    </ion-menu>


  <div id="actions">
    <div class="ion-page" id="main-content"></div>
    <ion-menu-button class="action_buttom"><ion-img
      src="assets\img\3643779_clock_hour_ticker_time_times_icon.png"
      alt="histórico"
    ></ion-img></ion-menu-button>
    <ion-button class="action_buttom" id="delete" (click)="del()"><ion-img
      src="assets\img\9035278_backspace_outline_icon.png"
      alt="apagar"
    ></ion-img></ion-button>
  </div>


  <hr id="hrcalc">


  <ion-grid id="botoes">
    <ion-row>
      <ion-col>
        <ion-button id="apagar" (click)="limpar()">C</ion-button>
        <ion-button (click)="pi()" class="opera">𝝅</ion-button>
        <ion-button (click)="digitos('7')" class="number">7</ion-button>
        <ion-button (click)="digitos('4')" class="number">4</ion-button>
        <ion-button (click)="digitos('1')" class="number">1</ion-button>
        <ion-button (click)="porcem()" class="opera">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="elevado()" class="opera">e^</ion-button>
        <ion-button (click)="paren1()" class="opera">(</ion-button>
        <ion-button (click)="digitos('8')" class="number">8</ion-button>
        <ion-button (click)="digitos('5')" class="number">5</ion-button>
        <ion-button (click)="digitos('2')" class="number">2</ion-button>
        <ion-button (click)="digitos('0')" class="number">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="raiz()" class="opera">√</ion-button>
        <ion-button (click)="paren2()" class="opera">)</ion-button>
        <ion-button (click)="digitos('9')" class="number">9</ion-button>
        <ion-button (click)="digitos('6')" class="number">6</ion-button>
        <ion-button (click)="digitos('3')" class="number">3</ion-button>
        <ion-button (click)="ponto()" class="opera">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="divi()" class="opera">/</ion-button>
        <ion-button (click)="multi()" class="opera">x</ion-button>
        <ion-button (click)="sub()" class="opera">-</ion-button>
        <ion-button (click)="soma()" class="opera">+</ion-button>
        <ion-button id="igual" (click)="resultado()">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>